* {
    margin: 5px;
}
.photo {
    border-radius: 75%;
}
body {
    background:#9e9e9e0f;
  }
.wrapper {
    width: 1024px;
    margin: 0 auto;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.5;
  }
  p {
    font-style: italic;
  }
  .footer {
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: #0f2b0356;
    color: rgb(221, 221, 218);
    justify-content: center;
  }
  
  .footer-email {
    margin: 5px 650px 5px 5px;
  }
  
  .footer-email a {
    text-decoration: none;
    color: rgb(221, 221, 218);
  }
  