* {
  margin: 5px;
}
html {
  scroll-behavior: smooth; 
}
a {
  color:blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.nav{
  background-color: silver;
}
.photo {
  border-radius: 50%;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0 25);
  object-fit: cover;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
}
.project{
  background: ghostwhite;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 15px;
}
.section-item a {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}
body {
    background:#9e9e9e0f;
    font-family: 'Roboto', sans-serif;
    background-color:#f1f1f1;
  }
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
  }
  p {
    font-style: italic;
  }
  .footer {
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: #040a0156;
    color: rgb(221, 221, 218);
  }
  
  .footer-github a {
    text-decoration: none;
    color: rgb(221, 221, 218);
  }
  .footer-year p {
    color:rgb(221, 221, 218);
  }
  .footer-wrapper{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
  }